<body onLoad="javascript:changeAction('polygon');selectedFeature('$!feature.featureCode');">
<form name="map">

<table>
	<tr>
		<td>		
			<fieldset align="center" style="border:#0000FF thin solid; width:460px; height:450px;">
			<legend align="right"><a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomIn();" title="Zoom In">[ + ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:zoomOut();" title="Zoom Out">[ - ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:retoreZoom();" title="Retore">[ ~ ]</a>
		<a style="text-decoration:none" style="CURSOR: hand" href="javascript:drillDown();" title="Drill down">[ Drill down ]</legend>
			 <embed id=map width="460" height="450" src="map/$mapFile.mapFile" name="map" type="image/svg+xml" align="center"/>
			</fieldset>			
		</td>
		<td style="vertical-align:top;">
		
			<fieldset style="border:#0000FF thin solid;width: 350px;">
				<legend><label>$i18n.getString( "layer" )</label></legend>
				<table width="100%">
					<th><label>$i18n.getString( "show_layer" )</label></th>
					<th><label>$i18n.getString( "active_layer" )</label></th>
					<tr>
						<td><input id="polygon_check" type="checkbox" name="district" onClick="showlayer(this,'polygon')" checked="checked"/><label>$i18n.getString( "district" )</label></td>
						<td><input id="polygon_radio" type="radio" name="active" checked="checked" onClick="activelayer('polygon')" value="polygon"/><label>$i18n.getString( "district" )</label></td>
					</tr>
					<tr>
						<td><input id="point_check" type="checkbox" name="health_facility" onClick="showlayer(this,'point')" checked="checked"/><label>$i18n.getString( "health_facility" )</label></td>
						<td><input id="point_radio" type="radio" name="active" onClick="activelayer('point')" value="point"/><label>$i18n.getString( "health_facility" )</label></td>
					</tr>
					<tr>
						<td><input id="polyline_check" type="checkbox" name="road" onClick="showlayer(this,'polyline')" checked="checked"/><label>$i18n.getString( "road" )</label></td>
						<td><input id="polyline_radio" type="radio" name="active" onClick="activelayer('polyline')" value="polyline"/><label>$i18n.getString( "road" )</label></td>
					</tr>
					
				</table>
			
		</fieldset>	

		
			<br>
</form>			
<form name="selectForm" id="selectForm" action="assignUnit.action" method="post"> 
		<fieldset style="background-color:#FFFFCC; border:#FFCC00 thin solid;width: 350px;">
			<legend><label>$i18n.getString( "assignunit_map" )</label></legend>
				<table>
					
					<tr>
						<td><label>$i18n.getString( "organisation_unit" )</label></td>
						<td><input  type="text" readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( "select" )]" #end style="width:200px"><input id="orgUnit" type="hidden" type="text" readonly="readonly" value="$organisationUnit.id"/></td>
					</tr>
					<tr>
						<td><label>$i18n.getString( "organisation_unit_code" )</label></td>
						<td><input id="organisationUnitCode"  name="organisationUnitCode" type="text"   style="width:200px" value="$!feature.featureCode"/></td>
					</tr>
					<tr>
						<td><label for="comment">$i18n.getString( "comment" )</label></td>
						<td><textarea id="comment" name="comment" style="width:20em; height:5em" rows="5" cols="20">$!feature.comment</textarea></td>
					</tr>
					<tr> 
						<td colspan=2><div id="message">$!message &nbsp;</div></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="button"  value="$i18n.getString( "assignunit_map" )" onClick="javascript:return validateAddFeature()">
						<input type="button"  value="$i18n.getString( "delete" )" onClick="javascript:return deleteMap()"></td>
					</tr>
				</table>
			</fieldset>
	</form>	
		</td>
	</tr>
</table>


</body>


