<units>
#foreach( $parent in $parents )
	<parent parentId="$parent.id">
	#foreach( $child in $childrenMap.get( $parent ) )
  		<child id="$child.id" hasChildren="$child.children.size()">$encoder.xmlEncode( $child.name )</child>
  	#end
  	</parent>
#end
</units>