
<h3>$i18n.getString( "data_export" )</h3>

<form id="exportForm" name="exportForm" method="post" action="exportDataValue.action">

<input type="hidden" name="exportFormat" value="$!exportFormat">

<table width="730">
	
	<colgroup>
  		<col width="325">
  		<col width="80">
 		<col width="325">
  	</colgroup>
	
	<!-- OrganisationUnit -->
	
	<tr>
		<th colspan="3">$i18n.getString( "organisation_unit" )</th>
	</tr>
	<tr>
		<td colspan="3">
			<div id="selectionTree" style="width:730px; height:220px"></div>
			
			<script type="text/javascript">
				selectionTreeSelection.setMultipleSelectionAllowed( true );
    			selectionTree.buildSelectionTree();
			</script>
			
		</td>
	</tr>
    <tr>
        <td colspan="3" height="5"></td>
    </tr>
	<tr>
        <td>
            <select id="excludeChildren" name="excludeChildren" style="width:325px">
                <option value="false" selected="selected">$i18n.getString( "organisation_unit_with_children" )</option>
                <option value="true">$i18n.getString( "organisation_unit_only" )</option>
            </select>
        </td>
        <td></td>
        <td></td>
    </tr>
	<tr>
		<td colspan="3" height="15"></td>
	</tr>
	
	<!-- Timespan -->
	
	<tr>
		<th>$i18n.getString( "start_date" ) ($i18n.getString( "format.date.label" ))</th>
		<td></td>
		<th>$i18n.getString( "end_date" ) ($i18n.getString( "format.date.label" ))</th>
	</tr>	
    <tr>
  		<td><input type="text" id="startDate" name="startDate" value="$!startDate" style="width:230px">	
			<img src="../images/calendar_icon.gif" width="16" height="16" id="getStartDate" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''"></td>
		<td></td>
  		<td><input type="text" id="endDate" name="endDate" value="$!endDate" style="width:230px">
			<img src="../images/calendar_icon.gif" width="16" height="16" id="getEndDate" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''"></td>
  	</tr>
  	<tr>
		<td colspan="3" height="15"></td>
	</tr>
  
	<script type="text/javascript">
    	Calendar.setup({
        	inputField     :    "startDate",      // id of the input field
        	ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        	button         :    "getStartDate"   // trigger for the calendar (button ID)
    	});
	
		Calendar.setup({
        	inputField     :    "endDate",      // id of the input field
        	ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        	button         :    "getEndDate"   // trigger for the calendar (button ID)
    	});
	</script>
	  
	<!-- DataSets -->
	
	<tr>
		<th>$i18n.getString( "available_datasets" )</th>
		<td></td>
		<th>$i18n.getString( "selected_datasets" )</th>
	</tr>	
	<tr>
		<td>
			<select multiple size="6" id="availableDataSets" name="availableDataSets" style="width:325px" ondblclick="moveSelectedById( 'availableDataSets', 'selectedDataSets' )">
				#foreach ( $dataSet in $dataSets )
					<option value="$dataSet.id">$dataSet.name</option>
				#end
			</select>
		</td>
		<td align="center">
			<input type="button" value="&gt;" title="$i18n.getString('move_selected')" style="width:40px" onclick="moveSelectedById( 'availableDataSets', 'selectedDataSets' )"><br>
			<input type="button" value="&lt;" title="$i18n.getString('move_all')" style="width:40px" onclick="moveSelectedById( 'selectedDataSets', 'availableDataSets' )"><br>		
			<input type="button" value="&gt;&gt;" title="$i18n.getString('remove_selected')" style="width:40px" onclick="moveAllById( 'availableDataSets', 'selectedDataSets' )"><br>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:40px" onclick="moveAllById( 'selectedDataSets', 'availableDataSets' )">
		</td>
		<td>
			<select multiple size="6" id="selectedDataSets" name="selectedDataSets" style="width:325px" ondblclick="moveSelectedById( 'selectedDataSets', 'availableDataSets' )">
			</select>
		</td>
	</tr>	
	
	<!-- Submit -->
	
	<tr>		
		<td><input type="button" value="$i18n.getString( 'export' )" style="width:50%" onclick="submitDataValueExportForm()"></td>
		<td colspan="2"></td>
	</tr>
	
</table>

</form>

<p><span id="message"></span></p>

<script type="text/javascript">
    var i18n_select_organisation_unit = '$encoder.jsEscape( $i18n.getString( "select_organisation_unit" ), "'")';
    var i18n_select_startdate = '$encoder.jsEscape( $i18n.getString( "select_startdate" ), "'")';
    var i18n_select_enddate = '$encoder.jsEscape( $i18n.getString( "select_enddate" ), "'")';
    var i18n_select_datasets = '$encoder.jsEscape( $i18n.getString( "select_datasets" ), "'")';
</script>
