#parse( "/dhis-web-dashboard/menu.vm" )

#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )

<!-- The script that registeres selctions in the orgunit tree -->
<script type="text/javascript">

function orgUnitHasBeenSelected( orgUnitIds )
{    
    if(orgUnitIds != null)
	{
		getOUDeatilsForAA(orgUnitIds);
	}        
}

selection.setListenerFunction( orgUnitHasBeenSelected );

</script>

