#parse( "/dhis-web-dashboard/menu.vm" )

#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )

<!-- The script that registeres selctions in the orgunit tree -->
<script type="text/javascript">

function orgUnitHasBeenSelected( orgUnitIds )
{    

    var orgUnitid = ""+orgUnitIds;
    var orgUnitName = orgUnits.get(orgUnitid);
    if(orgUnitName == null) return;  
    		var index = document.generateForm.orgUnitListCB.options.length;
    		var i=0;
    		for(i=0;i<index;i++)
    		{
        			if(orgUnitIds == document.generateForm.orgUnitListCB.options[i].value) return; 
    		}
    		document.generateForm.orgUnitListCB.options[index] = new Option(orgUnitName,orgUnitIds,false,false);
}

selection.setListenerFunction( orgUnitHasBeenSelected );

</script>
