
<h3>$i18n.getString( "create_new_indicator" )</h3>

<form id="addExtendedIndicatorForm" action="addExtendedIndicator.action" method="post" onsubmit="return validateAddExtendedIndicator()">

<div>
	<input type="hidden" id="numerator" name="numerator">
	<input type="hidden" id="numeratorDescription" name="numeratorDescription">
	<input type="hidden" id="numeratorAggregationOperator" name="numeratorAggregationOperator">
	<input type="hidden" id="denominator" name="denominator">
	<input type="hidden" id="denominatorDescription" name="denominatorDescription">
	<input type="hidden" id="denominatorAggregationOperator" name="denominatorAggregationOperator">
</div>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "identifying_and_definitional_atts" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" onchange="nameChanged()" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="shortName">$i18n.getString( "short_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="shortName" name="shortName" maxlength="20" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="alternativeName">$i18n.getString( "alternative_name" )</label></td>
		<td><input type="text" id="alternativeName" name="alternativeName" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="code">$i18n.getString( "code" )</label></td>
		<td><input type="text" id="code" name="code" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="description">$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="description" name="description" style="width:20em"></td>
	</tr>
	<tr>
        <td><label for="annualized">$i18n.getString( "annualized" )</label></td>
        <td>
            <select id="annualized" name="annualized" style="width:20em">
                <option value="false">$i18n.getString( "no" )</option>
                <option value="true">$i18n.getString( "yes" )</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="indicatorTypeId">$i18n.getString( "indicator_type" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
            <select id="indicatorTypeId" name="indicatorTypeId" style="min-width:20em">
                <option value="null">[$i18n.getString( "select" )]</option>
            #foreach( $indicatorType in $indicatorTypes )
                <option value="$indicatorType.id">$encoder.htmlEncode( $indicatorType.name )</option>
            #end
            </select>
        </td>
    </tr>
	<tr>
		<td></td>
		<td><input type="button" value="$i18n.getString( 'edit_numerator' )" onclick="showEditNumeratorForm()" style="width:10em"><input
				type="button" value="$i18n.getString( 'edit_denominator' )" onclick="showEditDenominatorForm()" style="width:10em"></td>
	</tr>	
	<tr>
		<td><label for="mnemonic">$i18n.getString( "mnemonic" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="mnemonic" name="mnemonic" style="width:20em"></td>
	</tr>
  	<tr>
		<td><label for="version">$i18n.getString( "version" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="version" name="version" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="context">$i18n.getString( "context" )</label></td>
		<td><textarea id="context" name="context" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="synonyms">$i18n.getString( "synonyms" )</label></td>
		<td><input type="text" id="synonyms" name="synonyms" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="hononyms">$i18n.getString( "hononyms" )</label></td>
		<td><input type="text" id="hononyms" name="hononyms" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="keywords">$i18n.getString( "keywords" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="keywords" name="keywords" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="status">$i18n.getString( "status" )</label></td>
		<td>
			<select id="status" name="status" style="width:20em">
				<option value="None" selected="selected">[$i18n.getString( "select" )]</option>
				<option value="Current">$i18n.getString( "current" )</option>
				<option value="Past">$i18n.getString( "past" )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="statusDate">$i18n.getString( "status_date" ) ($i18n.getString( "format.date.label" ))</label></td>
		<td><input type="text" id="statusDate" name="statusDate" style="width:20em"></td>
		<td><img src="../images/calendar_icon.gif" width="16" height="16" id="getStatusDate" style="cursor: pointer;" title="$i18n.getString("date_selector")" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''" alt="$i18n.getString( "status_date" )"></td>
	</tr>
	
	<script type="text/javascript">
        Calendar.setup({
            inputField     :    "statusDate",      // id of the input field
            ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
            button         :    "getStatusDate"   // trigger for the calendar (button ID)
        });
  	</script>
  	  	
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<th colspan="2">$i18n.getString( "relational_and_representational_atts" )</th>
	</tr>
	<tr>
		<td><label for="dataType">$i18n.getString( "data_type" )</label></td>
		<td>
			<select id="dataType" name="dataType" style="width:20em">
				<option value="None" selected="selected">[$i18n.getString( "select" )]</option>
				<option value="Alphabetic">$i18n.getString( "alphabetic" )</option>
				<option value="Alphanumeric">$i18n.getString( "alphanumeric" )</option>
				<option value="Numeric">$i18n.getString( "numeric" )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="representationalForm">$i18n.getString( "representational_form" )</label></td>
		<td>
			<select id="representationalForm" name="representationalForm" style="width:20em">
				<option value="None" selected="selected">[$i18n.getString( "select" )]</option>
				<option value="Text">$i18n.getString( "text" )</option>
				<option value="Code">$i18n.getString( "code" )</option>
				<option value="Quantitative">$i18n.getString( "quantitative" )</option>
				<option value="Date">$i18n.getString( "date" )</option>
				<option value="Identification">$i18n.getString( "identification" )</option>				
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="representationalLayout">$i18n.getString( "representational_layout" )</label></td>
		<td><input type="text" id="representationalLayout" name="representationalLayout" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="minimumSize">$i18n.getString( "minimum_size" )</label></td>
		<td><input type="text" id="minimumSize" name="minimumSize" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="maximumSize">$i18n.getString( "maximum_size" )</label></td>
		<td><input type="text" id="maximumSize" name="maximumSize" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="dataDomain">$i18n.getString( "data_domain" )</label></td>
		<td><textarea id="dataDomain" name="dataDomain" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="validationRules">$i18n.getString( "validation_rules" )</label></td>
		<td><textarea id="validationRules" name="validationRules" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="relatedDataReferences">$i18n.getString( "related_data_references" )</label></td>
		<td><textarea id="relatedDataReferences" name="relatedDataReferences" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="guideForUse">$i18n.getString( "guide_for_use" )</label></td>
		<td><textarea id="guideForUse" name="guideForUse" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="collectionMethods">$i18n.getString( "collection_methods" )</label></td>
		<td><textarea id="collectionMethods" name="collectionMethods" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<th colspan="2">$i18n.getString( "administrative_atts" )</th>
	</tr>
	<tr>
		<td><label for="responsibleAuthority">$i18n.getString( "responsible_authority" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="responsibleAuthority" name="responsibleAuthority" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="updateRules">$i18n.getString( "update_rules" )</label></td>
		<td><textarea id="updateRules" name="updateRules" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="accessAuthority">$i18n.getString( "access_authority" )</label></td>
		<td><input type="text" id="accessAuthority" name="accessAuthority" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="updateFrequency">$i18n.getString( "update_frequency" )</label></td>
		<td><input type="text" id="updateFrequency" name="updateFrequency" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="location">$i18n.getString( "location" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="location" name="location" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="reportingMethods">$i18n.getString( "reporting_methods" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><textarea id="reportingMethods" name="reportingMethods" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="versionStatus">$i18n.getString( "version_status" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="versionStatus" name="versionStatus" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="previousVersionReferences">$i18n.getString( "previous_version_references" )</label></td>
		<td><textarea id="previousVersionReferences" name="previousVersionReferences" style="width:20em; height:6em"></textarea></td>
	</tr>
	<tr>
		<td><label for="sourceDocument">$i18n.getString( "source_document" )</label></td>
		<td><input type="text" id="sourceDocument" name="sourceDocument" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="sourceOrganisation">$i18n.getString( "source_organisation" )</label></td>
		<td><input type="text" id="sourceOrganisation" name="sourceOrganisation" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="comment">$i18n.getString( "comment" )</label></td>
		<td><textarea id="comment" name="comment" style="width:20em; height:6em"></textarea></td>
	</tr>	
	<tr>
		<td></td>
		<td><input type="submit" value="$i18n.getString( "add" )" style="width:10em"><input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='indicator.action'" style="width:10em"></td>
	</tr>
</table>

</form>

<span id="message"></span>

<script type="text/javascript">

	var previousName = '';
	
	var nameField = document.getElementById( 'name' );
	nameField.select();
	nameField.focus();

</script>
