
<h3>$i18n.getString( "create_new_indicator" )</h3>

<form id="addIndicatorForm" action="addIndicator.action" method="post" onsubmit="return validateAddIndicator()">

<div>
	<input type="hidden" id="numerator" name="numerator">
	<input type="hidden" id="numeratorDescription" name="numeratorDescription">
	<input type="hidden" id="numeratorAggregationOperator" name="numeratorAggregationOperator">
	<input type="hidden" id="denominator" name="denominator">
	<input type="hidden" id="denominatorDescription" name="denominatorDescription">
	<input type="hidden" id="denominatorAggregationOperator" name="denominatorAggregationOperator">
</div>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" onchange="nameChanged()" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="shortName">$i18n.getString( "short_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="shortName" name="shortName" maxlength="20" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="alternativeName">$i18n.getString( "alternative_name" )</label></td>
		<td><input type="text" id="alternativeName" name="alternativeName" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="code">$i18n.getString( "code" )</label></td>
		<td><input type="text" id="code" name="code" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="description">$i18n.getString( "description" )</label></td>
		<td><textarea id="description" name="description" style="width:20em; height:8em"></textarea></td>
	</tr>
	<tr>
		<td><label for="annualized">$i18n.getString( "annualized" )</label></td>
		<td>
			<select id="annualized" name="annualized" style="width:20em">
				<option value="false">$i18n.getString( "no" )</option>
				<option value="true">$i18n.getString( "yes" )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="indicatorTypeId">$i18n.getString( "indicator_type" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select id="indicatorTypeId" name="indicatorTypeId" style="min-width:20em">
				<option value="null">[$i18n.getString( "select" )]</option>
			#foreach( $indicatorType in $indicatorTypes )
				<option value="$indicatorType.id">$encoder.htmlEncode( $indicatorType.name )</option>
			#end
			</select>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="button" value="$i18n.getString( 'edit_numerator' )" onclick="showEditNumeratorForm()" style="width:10em"><input
				type="button" value="$i18n.getString( 'edit_denominator' )" onclick="showEditDenominatorForm()" style="width:10em"></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="$i18n.getString( "add" )" style="width:10em"><input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='indicator.action'" style="width:10em"></td>
	</tr>
</table>

</form>

<span id="message"></span>

<script type="text/javascript">

	var previousName = '';
	
	var nameField = document.getElementById( 'name' );
	nameField.select();
	nameField.focus();

</script>
