<dataElement>
	<id>$dataElement.id</id>
	<name>$encoder.xmlEncode( $dataElement.name )</name>
	<shortName>$encoder.xmlEncode( $dataElement.shortName )</shortName>
	<alternativeName>$!encoder.xmlEncode( $dataElement.alternativeName )</alternativeName>
	<code>$!encoder.xmlEncode( $dataElement.code )</code>
	<description>$!encoder.xmlEncode( $dataElement.description )</description>
	<active>$dataElement.active</active>
	<type>$dataElement.type</type>
	<aggregationOperator>$dataElement.aggregationOperator</aggregationOperator>
	<categoryCombo>$dataElement.categoryCombo.name</categoryCombo>
</dataElement>
