
<h3>$i18n.getString( "edit_data_element_group" )</h3>

<form id="updateDataElementGroupForm" action="updateDataElementGroup.action" method="post" onsubmit="return validateUpdateDataElementGroup()">

<div>
	<input type="hidden" id="id" name="id" value="$dataElementGroup.id">
</div>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $dataElementGroup.name )" style="width:20em"></td>
	</tr>
	<tr>
		<td colspan="2" height="15px"></td>
	</tr>
</table>

<table>
	<tr>
		<th>$i18n.getString( "available_data_elements" )</th><td></td><th>$i18n.getString( "group_members" )</th>
	</tr>
	<tr>		
		<td><input type="text" id="availableDataElementsFilter" onkeyup="filterAvailableDataElements()" style="width:25em"></td>
		<td style="text-align:center">&lt; $i18n.getString( "filters" ) &gt;</td>
		<td><input type="text" id="groupMembersFilter" onkeyup="filterGroupMembers()" style="width:25em"></td>
	</tr>
	<tr>
		<td>
			<select id="availableDataElements" size="2" multiple="multiple" style="min-width:25em; height:25em" ondblclick="addGroupMembers()">
			</select>
		</td>
		
		<td style="text-align:center">			
			<input type="button" value="&gt;" title="$i18n.getString('move_selected')" onclick="addGroupMembers()"><br>
			<input type="button" value="&lt;" title="$i18n.getString('remove_selected')" onclick="removeGroupMembers()">			
		</td>
	
		<td>
			<select id="groupMembers" name="groupMembers" size="2" multiple="multiple" style="min-width:25em; height:25em" ondblclick="removeGroupMembers()" />
		</td>
	</tr>
</table>

<p><input type="submit" value="$i18n.getString( "save" )" style="width:10em"><input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='dataElementGroup.action'" style="width:10em"></p>

</form>

<span id="message"></span>

<script type="text/javascript">

	var groupMembers = new Object();
#foreach( $dataElement in $groupMembers )
	groupMembers['$dataElement.id'] = '$encoder.jsEscape( $dataElement.name, "'" )';
#end

	var availableDataElements = new Object();
#foreach( $dataElement in $availableDataElements )
	availableDataElements['$dataElement.id'] = '$encoder.jsEscape( $dataElement.name, "'" )';
#end

	initLists();

	var nameField = document.getElementById( 'name' );
	nameField.select();
	nameField.focus();

</script>
