
<h3>$i18n.getString( "edit_data_element" )</h3>

<form id="updateExtendedDataElementForm" action="updateExtendedDataElement.action" method="post" onsubmit="return validateUpdateExtendedDataElement()">

<div>
	<input type="hidden" id="id" name="id" value="$dataElement.id">
</div>

<table>
	<tr>
		<th colspan="2">$i18n.getString( "identifying_and_definitional_atts" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" value="$!encoder.htmlEncode( $dataElement.name )" onchange="nameChanged()" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="shortName">$i18n.getString( "short_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="shortName" name="shortName" value="$!encoder.htmlEncode( $dataElement.shortName )" maxlength="20" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="alternativeName">$i18n.getString( "alternative_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="alternativeName" name="alternativeName" value="$!encoder.htmlEncode( $dataElement.alternativeName )" maxlength="20" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="code">$i18n.getString( "code" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="code" name="code" value="$!encoder.htmlEncode( $dataElement.code )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="description">$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><textarea id="description" name="description" style="width:20em">$!encoder.htmlEncode( $dataElement.description )</textarea></td>
	</tr>
	<tr>
        <td><label for="active">$i18n.getString( "active" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
            <select id="active" name="active" style="min-width:20em">
                <option value="true" #if( $dataElement.active ) selected="selected" #end>$i18n.getString( "yes" )</option>
                <option value="false" #if( !$dataElement.active ) selected="selected" #end>$i18n.getString( "no" )</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="type">$i18n.getString( "type" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
            <select id="type" name="type" style="min-width:20em">
                <option value="int" #if( $dataElement.type == 'int' ) selected="selected" #end>$i18n.getString( "number" )</option>
                <option value="string" #if( $dataElement.type == 'string' ) selected="selected" #end>$i18n.getString( "text" )</option>
                <option value="bool" #if( $dataElement.type == 'bool' ) selected="selected" #end>$i18n.getString( "yes_no" )</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="aggregationOperator">$i18n.getString( "aggregation_operator" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
            <select id="aggregationOperator" name="aggregationOperator" style="min-width:20em">
                <option value="sum" #if( $dataElement.aggregationOperator == 'sum' ) selected="selected" #end>$i18n.getString( "sum" )</option>
                <option value="average" #if( $dataElement.aggregationOperator == 'average' ) selected="selected" #end>$i18n.getString( "average" )</option>
            </select>
        </td>
    </tr>
    <tr>   
        <td><label for="selectedCategoryComboId">$i18n.getString( "category_combo" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
            <select id="selectedCategoryComboId" name="selectedCategoryComboId" style="min-width:20em" >                
                <option value="null">[$i18n.getString( "select" )]</option>
            #foreach( $dataElementCategoryCombo in $dataElementCategoryCombos )
                <option value="$dataElementCategoryCombo.id" #if( $dataElement.categoryCombo.id == $dataElementCategoryCombo.id ) selected="selected" #end>$encoder.htmlEncode( $dataElementCategoryCombo.name )</option>
            #end
            </select>
        </td> 
    </tr>
	<tr>
		<td><label for="mnemonic">$i18n.getString( "mnemonic" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="mnemonic" name="mnemonic" value="$!encoder.htmlEncode( $dataElement.extended.mnemonic )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="version">$i18n.getString( "version" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><textarea id="version" name="version" style="width:20em">$!encoder.htmlEncode( $dataElement.extended.version )</textarea></td>
	</tr>
	<tr>
		<td><label for="context">$i18n.getString( "context" )</label></td>
		<td><input type="text" id="context" name="context" value="$!encoder.htmlEncode( $dataElement.extended.context )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="synonyms">$i18n.getString( "synonyms" )</label></td>
		<td><input type="text" id="synonyms" name="synonyms" value="$!encoder.htmlEncode( $dataElement.extended.synonyms )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="hononyms">$i18n.getString( "hononyms" )</label></td>
		<td><input type="text" id="hononyms" name="hononyms" value="$!encoder.htmlEncode( $dataElement.extended.hononyms )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="keywords">$i18n.getString( "keywords" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="keywords" name="keywords" value="$!encoder.htmlEncode( $dataElement.extended.keywords )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="status">$i18n.getString( "status" ) </label></td>
		<td>
			<select id="status" name="status" style="width:20em">
				<option value="None">[$i18n.getString( "select" )]</option>
				<option value="Current" #if( $dataElement.extended.status == 'Current' ) selected="selected" #end>$i18n.getString( "current" )</option>
				<option value="Past" #if( $dataElement.extended.status == 'Past' ) selected="selected" #end>$i18n.getString( "past" )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="statusDate">$i18n.getString( "status_date" ) ($i18n.getString( "format.date.label" ))</label></td>
		<td><input type="text" id="statusDate" name="statusDate" value="$!format.formatDate( $!dataElement.extended.statusDate )" style="width:20em"></td>
		<td><img src="../images/calendar_icon.gif" width="16" height="16" id="getStatusDate" style="cursor: pointer;" title="$i18n.getString("date_selector")" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''" alt="$i18n.getString( "status_date" )"></td>
	</tr>
	
	<script type="text/javascript">
        Calendar.setup({
            inputField     :    "statusDate",      // id of the input field
            ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
            button         :    "getStatusDate"   // trigger for the calendar (button ID)
        });
  	</script>
  	
  	<tr>
  		<td><label for="dataElementType">$i18n.getString( "data_element_type" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
  		<td>
  			<select id="dataElementType" name="dataElementType" style="width:20em">
  				<option value="None" selected="selected">[$i18n.getString( "select" )]</option>
  				<option value="DataElement" #if ( $dataElement.extended.dataElementType == 'DataElement' ) selected="selected" #end>$i18n.getString( "data_element" )</option>
  				<option value="Concept" #if ( $dataElement.extended.dataElementType == 'Concept' ) selected="selected" #end>$i18n.getString( "data_element_concept" )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<th colspan="2">$i18n.getString( "relational_and_representational_atts" )</th>
	</tr>
	<tr>
		<td><label for="dataType">$i18n.getString( "data_type" )</label></td>
		<td>
			<select id="dataType" name="dataType" style="width:20em">
				<option value="None">[$i18n.getString( "select" )]</option>
				<option value="Alphabetic" #if( $dataElement.extended.dataType == 'Alphabetic' ) selected="selected" #end>$i18n.getString( "alphabetic" )</option>
				<option value="Alphanumeric" #if( $dataElement.extended.dataType == 'Alphanumeric' ) selected="selected" #end>$i18n.getString( "alphanumeric" )</option>
				<option value="Numeric" #if( $dataElement.extended.dataType == 'Numeric' ) selected="selected" #end>$i18n.getString( "numeric" )</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="representationalForm">$i18n.getString( "representational_form" )</label></td>
		<td>
			<select id="representationalForm" name="representationalForm" style="width:20em">
				<option value="None">[$i18n.getString( "select" )]</option>
				<option value="Text" #if( $dataElement.extended.representationalForm == 'Text' ) selected="selected" #end>$i18n.getString( "text" )</option>
				<option value="Code" #if( $dataElement.extended.representationalForm == 'Code' ) selected="selected" #end>$i18n.getString( "code" )</option>
				<option value="Quantitative" #if( $dataElement.extended.representationalForm == 'Quantitative' ) selected="selected" #end>$i18n.getString( "quantitative" )</option>
				<option value="Date" #if( $dataElement.extended.representationalForm == 'Date' ) selected="selected" #end>$i18n.getString( "date" )</option>
				<option value="Identification" #if( $dataElement.extended.representationalForm == 'Identification' ) selected="selected" #end>$i18n.getString( "identification" )</option>				
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="representationalLayout">$i18n.getString( "representational_layout" )</label></td>
		<td><input type="text" id="representationalLayout" name="representationalLayout" value="$!encoder.htmlEncode( $dataElement.extended.representationalLayout )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="minimumSize">$i18n.getString( "minimum_size" )</label></td>
		<td><input type="text" id="minimumSize" name="minimumSize" value="$!encoder.htmlEncode( $dataElement.extended.minimumSize )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="maximumSize">$i18n.getString( "maximum_size" )</label></td>
		<td><input type="text" id="maximumSize" name="maximumSize" value="$!encoder.htmlEncode( $dataElement.extended.maximumSize )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="dataDomain">$i18n.getString( "data_domain" )</label></td>
		<td><textarea id="dataDomain" name="dataDomain" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.dataDomain )</textarea></td>
	</tr>
	<tr>
		<td><label for="validationRules">$i18n.getString( "validation_rules" )</label></td>
		<td><textarea id="validationRules" name="validationRules" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.validationRules )</textarea></td>
	</tr>
	<tr>
		<td><label for="relatedDataReferences">$i18n.getString( "related_data_references" )</label></td>
		<td><textarea id="relatedDataReferences" name="relatedDataReferences" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.relatedDataReferences )</textarea></td>
	</tr>
	<tr>
		<td><label for="guideForUse">$i18n.getString( "guide_for_use" )</label></td>
		<td><textarea id="guideForUse" name="guideForUse" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.guideForUse )</textarea></td>
	</tr>
	<tr>
		<td><label for="collectionMethods">$i18n.getString( "collection_methods" )</label></td>
		<td><textarea id="collectionMethods" name="collectionMethods" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.collectionMethods )</textarea></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<th colspan="2">$i18n.getString( "administrative_atts" )</th>
	</tr>
	<tr>
		<td><label for="responsibleAuthority">$i18n.getString( "responsible_authority" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="responsibleAuthority" name="responsibleAuthority" value="$!encoder.htmlEncode( $dataElement.extended.responsibleAuthority )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="updateRules">$i18n.getString( "update_rules" )</label></td>
		<td><textarea id="updateRules" name="updateRules" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.updateRules )</textarea></td>
	</tr>
	<tr>
		<td><label for="accessAuthority">$i18n.getString( "access_authority" )</label></td>
		<td><input type="text" id="accessAuthority" name="accessAuthority" value="$!encoder.htmlEncode( $dataElement.extended.accessAuthority )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="updateFrequency">$i18n.getString( "update_frequency" )</label></td>
		<td><input type="text" id="updateFrequency" name="updateFrequency" value="$!encoder.htmlEncode( $dataElement.extended.updateFrequency )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="location">$i18n.getString( "location" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="location" name="location" value="$!encoder.htmlEncode( $dataElement.extended.location )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="reportingMethods">$i18n.getString( "reporting_methods" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><textarea id="reportingMethods" name="reportingMethods" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.reportingMethods )</textarea></td>
	</tr>
	<tr>
		<td><label for="versionStatus">$i18n.getString( "version_status" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="versionStatus" name="versionStatus" value="$!encoder.htmlEncode( $dataElement.extended.versionStatus )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="previousVersionReferences">$i18n.getString( "previous_version_references" )</label></td>
		<td><textarea id="previousVersionReferences" name="previousVersionReferences" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.previousVersionReferences )</textarea></td>
	</tr>
	<tr>
		<td><label for="sourceDocument">$i18n.getString( "source_document" )</label></td>
		<td><input type="text" id="sourceDocument" name="sourceDocument" value="$!encoder.htmlEncode( $dataElement.extended.sourceDocument )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="sourceOrganisation">$i18n.getString( "source_organisation" )</label></td>
		<td><input type="text" id="sourceOrganisation" name="sourceOrganisation" value="$!encoder.htmlEncode( $dataElement.extended.sourceOrganisation )" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="comment">$i18n.getString( "comment" )</label></td>
		<td><textarea id="comment" name="comment" style="width:20em; height:6em">$!encoder.htmlEncode( $dataElement.extended.comment )</textarea></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="$i18n.getString( "save" )" style="width:10em"><input 
			type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='extendedDataElement.action'" style="width:10em"></td>
	</tr>
</table>

</form>

<span id="message"></span>

<script type="text/javascript">

	var previousName = '$encoder.jsEscape( $dataElement.name, "'" )';
	
	var nameField = document.getElementById( 'name' );
	nameField.select();
	nameField.focus();

</script>
