<dataElementCategory>
  <id>$dataElementCategory.id</id>
  <name>$encoder.xmlEncode( $dataElementCategory.name )</name>
  <categoryOptionCount>$dataElementCategoryOptions.size()</categoryOptionCount>  
</dataElementCategory>