<dataElementCategoryCombo>
  <id>$dataElementCategoryCombo.id</id>
  <name>$encoder.xmlEncode( $dataElementCategoryCombo.name )</name>
  <dataElementCategoryCount>$dataElementCategories.size()</dataElementCategoryCount>  
</dataElementCategoryCombo>