<h3>$i18n.getString( "org_unit_group_set_management" )</h3>

<table class="mainPageTable">
	<tr>
		<td style="vertical-align:top">

			<table style="width:100%">
				<col>
				<col width="20">
				<col width="20">
				<col width="20">
				<col width="20">
				<tr>
					<td></td>
					<td colspan="4" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddOrganisationUnitGroupSetForm.action'"></td>
				</tr>
				<tr>
					<th>$i18n.getString( "name" )</th>
					<th colspan="4">$i18n.getString( "operations" )</th>
				</tr>
				#set( $mark = false )
				#foreach( $organisationUnitGroupSet in $organisationUnitGroupSets )
				<tr #if( $mark ) style="background-color:#dddddd" #end>
					<td>$encoder.htmlEncode( $organisationUnitGroupSet.name )</td>
					<td style="text-align:center"><a href="showUpdateOrganisationUnitGroupSetForm.action?id=$organisationUnitGroupSet.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a></td>
					<td style="text-align:center"><a href="$i18n.getString( "translation_translate" )" title="$i18n.getString( "translation_translate" )" onclick="this.href='javascript:location.href= \'../dhis-web-commons/i18n.action?className=OrganisationUnitGroupSet&amp;objectId=$organisationUnitGroupSet.id&amp;returnUrl=\' + location.href'"><img src="../images/i18n.png" alt="$i18n.getString( "translation_translate" )"></a></td>	
					<td style="text-align:center"><a href="javascript:removeOrganisationUnitGroupSet( $organisationUnitGroupSet.id, '$encoder.jsEncode( $organisationUnitGroupSet.name )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a></td>
					<td style="text-align:center"><a href="javascript:showOrganisationUnitGroupSetDetails( $organisationUnitGroupSet.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a></td>
				</tr>
					#if( $mark )
						#set( $mark = false )
					#else
						#set( $mark = true )
					#end
				#end
				#if ( $organisationUnitGroupSets.size() == 0 )
				<tr>
					<td colspan="4">$i18n.getString( "there_are_no_org_unit_group_sets" )</td>
				</tr>
				#end
			</table>

		</td>
		<td style="width:20em; padding-left:2em; vertical-align:top">

			<div id="detailsArea" style="display:none">
				<div style="float:right">
					<a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
				</div>				
				<p><label>$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
				<p><label>$i18n.getString( "description" ):</label><br><span id="descriptionField"></span></p>
				<p><label>$i18n.getString( "compulsory" ):</label><br><span id="compulsoryField"></span></p>
				<p><label>$i18n.getString( "exclusive" ):</label><br><span id="exclusiveField"></span></p>
				<p><label>$i18n.getString( "number_of_members" ):</label><br><span id="memberCountField"></span></p>
			</div>

		</td>
	</tr>
</table>

<script type="text/javascript">
	var confirm_to_delete_org_unit_group_set = '$encoder.jsEscape( $i18n.getString( "confirm_to_delete_org_unit_group_set" ) , "'" )';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'" )';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'" )';
</script>