
<h3>$i18n.getString( "org_unit_group_management" )</h3>

<table class="mainPageTable">
	<tr>
		<td style="vertical-align:top">

			<table style="width:100%">
				<col>
				<col width="20">
				<col width="20">
				<col width="20">
				<col width="20">
				<tr>
					<td></td>
					<td colspan="4" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddOrganisationUnitGroupForm.action'"></td>
				</tr>
				<tr>
					<th>$i18n.getString( "name" )</th>
					<th colspan="4">$i18n.getString( "operations" )</th>
				</tr>
				#set( $mark = false )
				#foreach( $organisationUnitGroup in $organisationUnitGroups )
				<tr #if( $mark ) style="background-color:#dddddd" #end>
					<td>$encoder.htmlEncode( $organisationUnitGroup.name )</td>
					<td style="text-align:center"><a href="showUpdateOrganisationUnitGroupForm.action?id=$organisationUnitGroup.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a></td>
					<td style="text-align:center"><a href="$i18n.getString( "translation_translate" )" title="$i18n.getString( "translation_translate" )" onclick="this.href='javascript:location.href= \'../dhis-web-commons/i18n.action?className=OrganisationUnitGroup&amp;objectId=$organisationUnitGroup.id&amp;returnUrl=\' + location.href'"><img src="../images/i18n.png" alt="$i18n.getString( "translation_translate" )"></a></td>			
					<td style="text-align:center"><a href="javascript:removeOrganisationUnitGroup( $organisationUnitGroup.id, '$encoder.jsEncode( $organisationUnitGroup.name )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a></td>
					<td style="text-align:center"><a href="javascript:showOrganisationUnitGroupDetails( $organisationUnitGroup.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a></td>
				</tr>
					#if( $mark )
						#set( $mark = false )
					#else
						#set( $mark = true )
					#end
				#end
				#if ( $organisationUnitGroups.size() == 0 )
				<tr>
					<td colspan="4">$i18n.getString( "there_are_no_org_unit_groups" )</td>
				</tr>
				#end
			</table>

		</td>
		<td style="width:20em; padding-left:2em; vertical-align:top">

			<div id="detailsArea" style="display:none">
				<div style="float:right">
					<a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
				</div>				
				<p><label>$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
				<p><label>$i18n.getString( "number_of_group_members" ):</label><br><span id="memberCountField"></span></p>
			</div>

		</td>
	</tr>
</table>

<script type="text/javascript">
	var confirm_to_delete_org_unit_group = '$encoder.jsEscape( $i18n.getString( "confirm_to_delete_org_unit_group" ) , "'" )';
</script>