<?xml version="1.0" encoding="UTF-8"?>
<operands>
#foreach ( $operand in $operands )
	<operand>
		<id>$operand.id</id>
		<name>$encoder.xmlEncode( $operand.operandName )</name>		
	</operand>
#end
</operands>