<user>
  <username>$encoder.xmlEncode( $userCredentials.username )</username>
  <surname>$encoder.xmlEncode( $userCredentials.user.surname )</surname>
  <firstName>$encoder.xmlEncode( $userCredentials.user.firstName )</firstName>
  <email>$!encoder.xmlEncode( $userCredentials.user.email )</email>
  <organisationName>$!encoder.xmlEncode( $userCredentials.user.organisationUnit.name )</organisationName>
</user>
