<?xml version="1.0" encoding="UTF-8"?>
<dataMartExport>
    <name>$encoder.xmlEncode( $dataMartExport.name )</name>
    <dataElements>$dataMartExport.dataElements.size()</dataElements>
    <indicators>$dataMartExport.indicators.size()</indicators>
    <organisationUnits>$dataMartExport.organisationUnits.size()</organisationUnits>
    <periods>$dataMartExport.periods.size()</periods>
</dataMartExport>